body
{
  background-color: #EAF6F6;
}
hr
{

border-style: none;
border-top-style: dotted;
border-color: #66BFBF;
border-width: 10px;
width: 5%
}
h1
{
  color: #66BFBF;
}
h2
{
  color: #66BFBF;
}
